* {
  box-sizing: border-box; // Ensures padding and border are included in the element's total width and height
}

body {
  margin: 10px 0px;
  font-family: 'Nunito', 'Open Sans', 'Quicksand', sans-serif; // Use multiple font-family declarations
  overflow-y: scroll;

  .link, .linked {
    text-decoration: none;
    color: inherit;
  }
}
