*{
    .link{
        text-decoration: none;
        color: inherit;
    }
    body{
        margin: 5px 5px;

        font-family: 'Nunito', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Quicksand', sans-serif;
        max-width: 1500px;
      
      
    }
  .linked {
    text-decoration: none;
    color: inherit;
  }
    }

  
@media (max-width:900px){
  body{
    max-width: 900px;


  }
  
}