.headContainer{
    background-color: rgb(80, 6, 17);
    width: 1500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

margin-top: 100px;
    .textContainer{
        
        p{

font-size: 30px;
color: white;
font-weight: bold;
        }
    }
}
@media (max-width:900px){
    .headContainer{
width: 510px;
    }
 }